@import url('https://fonts.googleapis.com/css?family=Crimson Text');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');
body {
  /* Location of the image */
  background-image: url(trig.jpg);
    
  height: auto;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;  overflow-x: hidden;
    
}
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    background-color:ghostwhite;
    font-family:cursive;
    z-index: 1.5;
}
ul{
    list-style-type:none;
    z-index: 2;
}
a{
    color: white;
    text-decoration:none;
    z-index: 2;
}
a:hover{
    text-decoration:none;
    z-index: 2;
}
.menu li{
    font-size:28px;
    padding:15px 5px;
    z-index: 2;
}
.menu li a{
    display:block;
       color:ghostwhite;
    font-family:'Forum' , serif;
    z-index: 2;

}
.logo a{
    font-size:20px;
     z-index: 2;
}
.button{
    border-bottom: none;
    padding: 5px 5px;
    z-index: 2;
}
.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:baseline;
    z-index: 2;
}
.toggle{
    cursor:grabbing;
    z-index: 2;
    
}


.menu{

	width: 100%;
	height: 100px;
}




#rightmenu{
	width:70%;
	height: 100%;
	float: right;
/*	background-color: red; */
}

#rightmenu ul{
	margin-left: 20%;
	display: inline-flex;
	text-decoration: none;
  list-style: none;
  margin-top: 1%;
}

#rightmenu ul li a{
	font-family: 'Gentium Book Basic', serif;
	list-style: none;
	font-size: 35%;
	color:black;
	font-weight: bold;
	line-height: 100%;
	text-transform: uppercase;
  text-decoration: none;
  padding: 30px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  text-align: center;
}

	


#rightmenu ul li a:hover{
  transition: 0.25s;
	box-shadow:0px 0px 10px black;
}
h1{
    color: black;
    padding-top: 8%;
}
.extra{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    box-shadow: 3px 3px 10px white;
}

.intro{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    box-shadow: 3px 3px 10px white;
}

.dbms{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    box-shadow: 3px 3px 10px white;
}


.extra h4{
    font-size: 170%;
}

.dbms h3{
    font-size: 170%;
}

.intro h2{
    font-size: 170%;
}
.postsql{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
}


.postsql h5{
    font-size: 170%;
}

.img1{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}

.firebird{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
}


.firebird h6{
    font-size: 170%;
}
.img2{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.firebird1{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
}

.img3{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.row{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 3px 3px 10px white;
}

.row h7{
    font-size: 170%;
}
.img4{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img5{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img6{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img7{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img8{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.after{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 3px 3px 10px white;
}

.after h8{
    font-size: 170%;
}
.info1{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 3px 3px 10px white;
}

.info1 h9{
    font-size: 170%;
}

.img9{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img10{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img11{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.img12{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}.img13{
    color: white;
    background-attachment: fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
    color: white;
    width: 100%;
    margin-top: 0%;
    left: 0%;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 3px 3px 10px white;
    overflow: auto;
}
.new1{
    color: white;
    background-attachment:fixed;
    font-size: 170%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'Crimson Text',serif;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    float: left;
    color: white;
    width: 100%;
    margin-top: 8%;
    left: 0%;
    padding: 2%;
    border-radius: 6%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 3px 3px 10px white;
}

.new1 h10{
    font-size: 170%;
}
